Codefarts.DependanceyInjectionStd2/obj/
Codefarts.DependanceyInjectionStd2/bin/
.vs/
codealike.json
Codefarts.DependenceyInjectionStd2/obj/
Codefarts.DependenceyInjectionStd2/bin/
Codefarts.DependenceyInjectionNET5/bin/
Codefarts.DependenceyInjectionNET5/obj/
.idea/
*.user
Codefarts.DependanceyInjectionNET45/obj/
Codefarts.DependanceyInjectionNET45/bin/
Codefarts.DependenceyInjectionNET6/bin/
Codefarts.DependenceyInjectionNET6/obj/
packages/
bin/
obj/